.amigos{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
}

.cuenta{
        flex: 0.8 1;
        display: grid;
        justify-content: center;
}

.cuenta > h1{
        text-align: start;
        color: darkgray;
}

.icono{
        background-color: green !important;
}


.cuenta>img{
        border-radius: 20rem;
}

