.post{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 0.8 1;
        padding: 2rem;
        gap: 1rem;
}



.posts{
        width: 45rem;
        border: 1px solid #F3F3F3;
        padding: 1rem;
        background: #F3F3F3;
}

.posts:hover{
        background: #F3F3C3;
}


.posts > h2{
        margin-block-end: 0;
}
