
.content-publi{
        flex: 0.8 1;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 2rem;
        gap: 1rem;
        justify-items: center;
}

.publi{
        display: flex;
        flex-direction: column;
        width: 15rem;
        gap: .5rem;
}

.info{
        display: flex;
        gap: 1rem;
}


.publi > h1{
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 1rem;
}

.icon{
        display: flex;
        justify-content: flex-end;
}
